{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="card">

        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% else %}
            <a class="btn" href="{{ env('BASE_URL') }}/profile">{{ 'back'|trans }}</a>
        {% endif %}
    </div>

{% endblock fos_user_content %}