{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
    {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {%- endautoescape -%}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ user.username }}
        {{confirmationUrl}}
    {% endautoescape %}
{% endblock %}
{% block body_html %}    
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body style="font-family: Roboto, Helvetica, sans-serif;">
        <div style="width: auto; height:100px;text-align:center;">
            <img src="{{env("BASE_URL")}}/asssets/img/logo.png" style="height: 50px; width: auto;"/>
            <h2 style="color:{{env("APP_COLOR")}};">{{env('APP_NAME')}}</h2>
        </div>
        <div style="font-family: Roboto, Helvetica, sans-serif;text-align:left;padding-left:20%;padding-bottom: 10%;">

            <p style="padding-top:5%;padding-right:20%">
                <a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
            </p>
        </div>
        <div style="background-color: #7ab864; width: 100%; text-align:center; color: white; ">
        </div>
    </body>
{% endblock %}
